<html>
<head th:insert="~{base :: head}"></head>
<body>
<div class="container">
    <header th:insert="~{fragments/header :: header('Novo Pedido')}"></header>

    <form th:object="${createOrderForm}" action="/pedidos/novo" method="POST">
        <div class="form-group">
            <label for="productName">Produto</label>
            <input class="form-control" th:field="*{productName}" placeholder="nome do produto"/>
            <small>Informa qual o nome do produto.</small>

        </div>
        <div class="form-group">
            <label for="productLink">Url</label>
            <input class="form-control" th:field="*{productLink}" placeholder="url do produto"/>
            <small>Procure em um site o produto que você deseja e cole a url da página aqui.</small>
        </div>
        <div class="form-group">
            <label for="productImageUrl">Imagem</label>
            <input class="form-control" th:field="*{productImageUrl}" placeholder="url da imagem"/>
            <small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
        </div>
        <div class="form-group">
            <label for="description">Descrição</label>
            <textarea class="form-control" th:field="*{description}" name="description" placeholder="Adicione detalhes importantes para ajudar o comprador."></textarea>
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</div>
</body>
</html>