<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}"></head>
<body>
<div class="container">
    <header th:insert="~{fragments/header :: header('Meus Pedidos')}"></header>

    <div class="card" th:each="order : ${orders}">
        <th:block th:switch="${order.status.name()}">
            <div th:case="'AWAITING'" class="card-header alert alert-warning" th:text="${order.productName}">1 Nome do Produto</div>
            <div th:case="'ACCEPTED'" class="card-header alert alert-info" th:text="${order.productName}">2 Nome do Produto</div>
            <div th:case="'DELIVERED'" class="card-header alert alert-success" th:text="${order.productName}">3 Nome do Produto</div>
        </th:block>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 mb-3">
                    <div class="row ">
                        <div class="col-md-5">Valor: <span th:text="${order.dealPrice}">200,99</span></div>
                        <div class="col-md-6">Data da entrega: <span th:text="${order.deliveryDate}">10/02/2020</span>
                        </div>
                    </div>

                    <div>Produto</div>
                    <div><input class="form-control" th:value="${order.productLink}" value="url do produto"/></div>

                    <div>Descrição</div>
                    <div>
                        <textarea class="form-control" th:text="${order.description}">descrição do pedido</textarea>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div>
                        <img class="img-thumbnail" th:src="${order.productImageUrl}" src=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>